body {
    height: 100%;
}

a:hover{
    text-decoration: none;
}
#chat-contacts-sidebar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 5px;
    margin-left: -10px;
}


#author-names:hover {
    text-decoration: none;
    color:rgb(170, 21, 150);
}

